.footer{
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.footer .links{
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    cursor: default;
}

.footer .links div h5{
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .links div li{
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content;
}

.footer .links div li:hover{
    color: var(--primary);
}

@media screen and (max-width: 1200px) {
    .footer{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .footer .links{
        grid-template-columns: 1fr;
    }
}